/* =============== BANNER ============== */

.banner-catalogo {
  padding: 0;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.banner-catalogo img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.secao-filtro{
  background:#F1E9E4;
  padding:40px 0;
}

.filtro-wrapper{
  display:flex;
  align-items:center;
   justify-content:center;
  flex-wrap:wrap;
  gap:15px;
  flex-wrap:nowrap;
}

.filtro-label{
  font-weight:600;
  font-size:20px;
  white-space:nowrap;
}

.filtro-botoes{
  display:flex;
  flex-wrap:wrap;
  gap:12px;
}

.filtro-btn{
  background:transparent;
  border:2px solid #4A1F2A;
  color:#4A1F2A;
  padding:8px 18px;
  border-radius:10px;
  cursor:pointer;
  transition:.3s;
  font-weight:500;
}

/* botão ativo */
.filtro-btn.ativo{
  background:#4A1F2A;
  color:#fff;
}

/* hover */
.filtro-btn:hover{
  background:#4A1F2A;
  color:#fff;
}

/* =============== MODAL ============== */

.modal-whats{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.5);
  display:none;
  align-items:center;
  justify-content:center;
  z-index:9999;
}

.modal-conteudo{
  background:#fff;
  padding:35px;
  border-radius:14px;
  max-width:420px;
  text-align:center;
  animation:fadeIn .3s ease;
}

.modal-conteudo h4{
  margin-bottom:15px;
  color:#4A1F2A;
}

.modal-conteudo p{
  font-size:15px;
  line-height:1.5;
  margin-bottom:25px;
}

#continuar{
  width:100%;
  padding:12px;
  background:#4A1F2A;
  color:#fff;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-weight:600;
  transition:.3s;
}

#continuar:hover{
  opacity:0.9;
}

.modal-conteudo{
  position: relative; /* importante */
}

.fechar-modal{
  position:absolute;
  top:12px;
  right:15px;
  font-size:22px;
  cursor:pointer;
  font-weight:bold;
  color:#555;
  transition:.2s;
}

.fechar-modal:hover{
  color:#000;
}


@keyframes fadeIn{
  from{opacity:0; transform:translateY(-10px);}
  to{opacity:1; transform:translateY(0);}
}


/* mobile */
@media(max-width:768px){
  .filtro-wrapper{
    flex-direction:column;
    align-items:flex-start;
  }
}
